<meta content="width=device-width, initial-scale=1" name="viewport" />

<center><div class="form-background-sign-in" >
<div class="form-heading"> Create Account </div>
<div class="sign-up-text"> Already have an account? <%= link_to 'Sign In', '/login', method: :get %> </div>
<%= bootstrap_form_for @user do |f|%>
  <%= f.text_field :first_name%>
  <%= f.text_field :surname%>
  <%= f.text_field :email%>
  <div class="password-form-group"><label class="required" for="user_password">Password (6 or more characters)</label><input class="form-control" type="password" name="user[password]" id="user_password"></div>
  <center>
  <%= f.submit 'Continue' %>
  </center>
<%end%>
</div>
</center>

