<h1> RSVP </h1>

<p> We would be grateful if you could let us know if you can make it by filling in the form below as soon as possible, and by X at the latest. 

<%= form_with scope: :response, url: responses_path, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <%= link_to 'Back', controller: 'home' %>