<body class="pink">

<center><div class="form-background-show-rsvp" >
<div class="form-group">
<div class="show-rsvp-heading"> Thank you </div>
<div class="rsvp-confirmation-text"> We have received your RSVP </div>

</div>

<div class="form-group">

<% if (@response.guest1_first_name != "") && (@response.guest1_first_name != nil) %>
  <div class="guest-name-text"> <b> <%= @response.guest1_first_name %> <%= @response.guest1_surname %> </b> </div>
<ul>
  <% if @response.guest1_rsvp === "no" %>
<li><div class="rsvp-confirm-text">  RSVP: Not attending </div></li>
  <% else %>
  <li><div class="rsvp-confirm-text"> <b> RSVP: </b> Attending </div></li>
    <% if @response.guest1_dietary_requirements === "no" %>
      <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> None</div></li>
    <% else %> 
    <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> <%= @response.guest1_diet_details %> </div></li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<% if (@response.guest2_first_name != "") && (@response.guest2_first_name != nil) %>
  <div class="guest-name-text"> <b> <%= @response.guest2_first_name %> <%= @response.guest2_surname %> </b> </div>
<ul>
  <% if @response.guest2_rsvp === "no" %>
<li><div class="rsvp-confirm-text"> <b> RSVP: </b> Not attending </div></li>
  <% else %>
  <li><div class="rsvp-confirm-text"> <b> RSVP: </b> Attending </div></li>
    <% if @response.guest2_dietary_requirements === "no" %>
      <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> None</div></li>
    <% else %> 
    <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> <%= @response.guest2_diet_details %> </div></li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<% if (@response.guest3_first_name != "") && (@response.guest3_first_name != nil) %>
  <div class="guest-name-text"> <b> <%= @response.guest3_first_name %> <%= @response.guest3_surname %> </b> </div>
<ul>
  <% if @response.guest3_rsvp === "no" %>
<li><div class="rsvp-confirm-text"> <b> RSVP: </b> Not attending </div></li>
  <% else %>
  <li><div class="rsvp-confirm-text"> <b> RSVP: </b> Attending </div></li>
    <% if @response.guest3_dietary_requirements === "no" %>
      <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> None</div></li>
    <% else %> 
    <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> <%= @response.guest3_diet_details %> </div></li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<% if (@response.guest4_first_name != "") && (@response.guest4_first_name != nil) %>
  <div class="guest-name-text"> <b> <%= @response.guest4_first_name %> <%= @response.guest4_surname %> </b> </div>
<ul>
  <% if @response.guest4_rsvp === "no" %>
<li><div class="rsvp-confirm-text"> <b> RSVP: </b> Not attending </div></li>
  <% else %>
  <li><div class="rsvp-confirm-text"> <b> RSVP: </b> Attending </div></li>
    <% if @response.guest4_dietary_requirements === "no" %>
      <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> None</div></li>
    <% else %> 
    <li><div class="rsvp-confirm-text"> <b> Dietary Requirements: </b> <%= @response.guest4_diet_details %> </div></li>
    <% end %>
  <% end %>
  </ul>
<% end %>


</div>




<center>
<div value="Back to Home" class="btn btn-secondary" >  <%=  link_to 'Back to Home', controller:'home' %>  </div>
<div value="Edit RSVP" class="btn btn-secondary" > <%=  link_to 'Edit RSVP', edit_response_path(@response) %> </div>
</center>


</body>