<% if logged_in? %>
<div class="welcome-row">
<div class="welcome-text"> Welcome <%= current_user.first_name %> |
 <%= link_to "Log out", logout_path %>
 </div>
</div>
  <center>
  <div class="nav nav-pills nav-justified">
    <div class="nav-row">
      <div class="columnx4">
        <div class="nav-item">
          <%= link_to 'HOME', {controller: 'home'}, class: 'nav-link' %>
        </div>
      </div>
      <div class="columnx4">
        <div class="nav-item">
          <%= link_to 'DETAILS', {controller: 'details'}, class: 'nav-link' %>
        </div>
      </div>
      <div class="columnx4">
        <div class="nav-item">
        <% if !responded? %>
          <%= link_to 'RSVP', new_response_path, class: 'nav-link' %>
        <% else %>
        <%= link_to 'RSVP', response_path(current_response), class: 'nav-link' %>
        <% end %>
        </div>
      </div>
      <div class="columnx4">
        <div class="nav-item">
          <%= link_to 'TRAVEL', {controller: 'travel'}, class: 'nav-link' %>
        </div>
      </div>
      <div class="columnx4">
      <div class="nav-item">
        <%= link_to 'FAQS', {controller: 'fa_qs'}, class: 'nav-link' %>
      </div>
    </div>
    </div>
  </center>
</div>
<%else%>
<div class="nav nav-pills nav-justified">
<div class="frame">
<span class="helper"></span>
 <center>
  <img src= "<%= asset_path( 'genny&joey.png' ) %>" class="welcome-page-image">
 </center>
</div>
</div>

<%end%>
