<% if logged_in? %>
<div class="nav nav-pills nav-justified">
  <center>
    <div class="nav-row">
      <div class="columnx4">
        <div class="nav-item">
          <%= link_to 'Home', controller: 'home', class: 'nav-link active' %>
        </div>
      </div>
      <div class="columnx4">
        <div class="nav-item">
          <%= link_to 'Details', controller: 'details', class: 'nav-link' %>
        </div>
      </div>
      <div class="columnx4">
        <div class="nav-item">
          <%= link_to 'RSVP', new_response_path, class: 'nav-link' %>
        </div>
      </div>
      <div class="columnx4">
        <div class="nav-item">
          <%= link_to 'Travel', controller: 'travel', class: 'nav-link' %>
        </div>
      </div>
    </div>
  </center>
   <div class="welcome-text"> Welcome </div>
</div>
<%else%>
<div class="nav nav-pills nav-justified">
<div class="frame">
<span class="helper"></span>
 <center>
  <img src= "<%= asset_path( 'genny&joey.png' ) %>" class="welcome-page-image">
 </center>
</div>
</div>

<%end%>
