<!DOCTYPE html>
<html>
  <head>
    <title>WeddingRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="//db.onlinewebfonts.com/c/83a20700464f9c9afa8ba441b158c4db?family=AR+BLANCA" rel="stylesheet" type="text/css"/>
    <%= javascript_pack_tag 'application' %>
  </head>


  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
